/**
    one thing i wanna cry about :-
    why the fuck Safari doesn't support gap or flex-gap,
    i mean between all of the weird styles and properties,
    WHY would  you ignore gap in safari<13
    come on guys. 
  */
/* fonts :-
        * to use Tajwal do : font-family: 'Tajawal', sans-serif;
        * To use ElMessirir do : font-family: 'El Messiri', sans-serif;
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
}
html{
    scroll-behavior:auto;
}
body{
    min-height: 100vh;
    text-align: center;
    background: #2c2c2c;
    overflow: scroll;
    height: 100vh;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);    
    scroll-snap-type: y mandatory;
}
body > .container {
    scroll-snap-align: start;
}
/* first section */
body > .first{
    display: grid; place-items: center;
}
body > .first > .container{
    transition: all .3s ease-in-out;
    height: 90vh; width: 90vw;
    display: grid; place-items: center;
    font-family: 'El Messiri', sans-serif;
    background: #adadad;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    overflow: hidden;
    cursor: pointer;
}
body > .first > .container:hover , body > .first > .container.active {
    background: rgb(74, 119, 85);
}
body > .first > .container:hover h2 , body > .first > .container.active h2{   
    color: white;
}
body > .first > .container:hover h1, body > .first > .container.active h1{
    text-shadow: 0 0 black !important;
    color: #a0b8a6 !important;
}
body > .first > .container h2{
    display: inline-block;
    position: relative;
  }
  
  body > .first > .container h2::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00ff0d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  body > .first > .container:hover h2::after, body > .first > .container.active h2::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
body > .first > .container > * {
    overflow: hidden;
}






/* second sec */
body > .sec {
    display: grid;
    place-items: center;
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
    position: relative;
}
body > .sec , body > .sec  *{
    overflow: initial;
}
body > .sec > .lyrics {
    display: flex;
    flex-direction: column;
}
body > .sec > .lyrics > .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;align-items: center;
    width: 70vw;
}
body > .sec > .lyrics > .row > .col {
    display: flex;
    flex-direction: row;
    justify-content: center;align-items: center;
    color: white;
    transition: all .3s ease-in-out;
    margin: 10px 0;

}
body > .sec > .lyrics > .row > .col.active:not(body > .sec > .lyrics > .row > .col.g.active, body > .sec > .lyrics > .row > .col.h.active) {
    transform: scale(1.1);
}
body > .sec > .lyrics > .row > .col.active {
    background: #000;
    color: #75f573;
    transform: scale(1);
    border-radius: 7px;
    box-shadow: 4px 4px 20px 0px #000000;
}
body > .sec > .lyrics > .row > .col > .word {
    justify-content: center;align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: inherit;
    transition: all .5s ease-in-out;
    padding: 5px 7px;
    border-radius: 5px;
}

body > .sec  .col{
    display: inline-block;
    position: relative;
  }
  
  body > .sec  .col::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    opacity: 0;
    transition: transform .6s ease-out, opacit .01s ease-out;
  }
  
  body > .sec .col.active::after {
    transform: scaleX(1);
    transform-origin: top right;
    opacity: 1;
    transition-timing-function: linear;
  }


/* The audio controlers */


body > .sec > .controlers {
    font-family: "Font Awesome\ 5 Free";
    bottom: 3%;
    right: 3%;
    display: flex;
}
body > .sec > .controlers > div{
    margin: 0 20px;
}
body > .sec > .controlers > div::after,::before{
    padding: 14px;
    background: #e0e0e0;
    border-radius: 5px;
    text-align: center;
    font-size: 1.7rem;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 3px 2px 9px 0px black, inset 2px 2px 20px 0px white;
    transition: all .25s ease-out;
}
body > .sec > .controlers > div.play-stop::after {
    content: "\f04b";
} 
body > .sec > .controlers > div.repeat::after {
    content: "\f2f9";
    border-radius: 200px;
    padding: 15px;
}
body > .sec > .controlers > div:hover::after{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
body > .sec > .controlers > div.play-stop.playing::after{
    content: "\f04c";
}

/* the next lines contains durations for the after element */
body > .sec .col.a::after{
    transition-duration: 5s !important;
}
body > .sec .col.b::after{
    transition-duration: 4s !important;
}   
body > .sec .col.c::after{
    transition-duration: 3s !important;
}body > .sec .col.d::after{
    transition-duration: 2s !important;
}body > .sec .col.e::after{
    transition-duration: 2s !important;
}body > .sec .col.f::after{
    transition-duration: 2s !important;
}body > .sec .col.g::after{
    transition-duration: 5s !important;
}body > .sec .col.h::after{
    transition-duration: 4s !important;
}

















































































/* class styles */
.min-h-and-w-full{
    min-height: 100vh;
    min-width: 100%;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-9-17 16:43:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bck
 * ----------------------------------------
 */
 .fade-in-bck {
	-webkit-animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
 }
 @-webkit-keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  