/* first section */
body > .first{
    display: grid; place-items: center;
    overflow: initial;
    height: 100%;
}
body > .first > .container{
    transition: all .3s ease-in-out;
    height: 90%; width: 90vw;
    display: grid; place-items: center;
    font-family: 'El Messiri', sans-serif;
    background: #adadad;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    overflow: hidden;
    cursor: pointer;
}
body > .first > .container:hover , body > .first > .container.active {
    background: rgb(74, 119, 85);
}
body > .first > .container:hover h2 , body > .first > .container.active h2{   
    color: white;
}
body > .first > .container:hover h1, body > .first > .container.active h1{
    text-shadow: 0 0 black !important;
    color: #a0b8a6 !important;
}
body > .first > .container h2{
    display: inline-block;
    position: relative;
  }
  
  body > .first > .container h2::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00ff0d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  body > .first > .container:hover h2::after, body > .first > .container.active h2::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
body > .first > .container > * {
    overflow: hidden;
}


