/**
    one thing i wanna cry about :-
    why the fuck Safari doesn't support gap or flex-gap,
    i mean between all of the weird styles and properties,
    WHY would  you ignore gap in safari<13
    come on guys. 
  */
/* fonts :-
        * to use Tajwal do : font-family: 'Tajawal', sans-serif;
        * To use ElMessirir do : font-family: 'El Messiri', sans-serif;
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: auto;
}
html{
    scroll-behavior:auto;
}
body{
    min-height: 100vh;
    text-align: center;
    background: #2c2c2c;
    overflow: scroll;
    height: 100vh;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(300px);    
    scroll-snap-type: y mandatory;
}
body > .container {
    scroll-snap-align: start;
}
body > .container:not(.third, .footer){
    border-bottom: 4px solid #131313;
}
/* first section */
body > .first{
    display: grid; place-items: center;
    overflow: initial;
    height: 100%;
}
body > .first > .container{
    transition: all .3s ease-in-out;
    height: 90%; width: 90vw;
    display: grid; place-items: center;
    font-family: 'El Messiri', sans-serif;
    background: #adadad;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    overflow: hidden;
    cursor: pointer;
}
body > .first > .container:hover , body > .first > .container.active {
    background: rgb(74, 119, 85);
}
body > .first > .container:hover h2 , body > .first > .container.active h2{   
    color: white;
}
body > .first > .container:hover h1, body > .first > .container.active h1{
    text-shadow: 0 0 black !important;
    color: #a0b8a6 !important;
}
body > .first > .container h2{
    display: inline-block;
    position: relative;
  }
  
  body > .first > .container h2::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #00ff0d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  body > .first > .container:hover h2::after, body > .first > .container.active h2::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
body > .first > .container > * {
    overflow: hidden;
}






/* second sec */
body > .sec {
    display: grid;
    place-items: center;
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
    position: relative;
}
body > .sec , body > .sec  *{
    overflow: initial;
}
body > .sec > .lyrics {
    display: flex;
    flex-direction: column;
}
body > .sec > .lyrics > .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;align-items: center;
    width: 70vw;
}
body > .sec > .lyrics > .row > .col {
    display: flex;
    flex-direction: row;
    justify-content: center;align-items: center;
    color: white;
    transition: all .3s ease-in-out;
    margin: 7px 0;

}
body > .sec > .lyrics > .row > .col.active:not(body > .sec > .lyrics > .row > .col.g.active, body > .sec > .lyrics > .row > .col.h.active) {
    transform: scale(1.1);
}
body > .sec > .lyrics > .row > .col.active {
    background: #000;
    color: #75f573;
    transform: scale(1);
    border-radius: 7px;
    box-shadow: 4px 4px 20px 0px #000000;
}
body > .sec > .lyrics > .row > .col > .word {
    justify-content: center;align-items: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: inherit;
    transition: all .5s ease-in-out;
    padding: 5px 7px;
    border-radius: 5px;
}

body > .sec  .col{
    display: inline-block;
    position: relative;
  }
  
  body > .sec  .col.active.stop-animation::after{
    animation-play-state: paused;
  }
  body > .sec  .col::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    opacity: 0;
  }
  
  body > .sec .col.active::after {
    animation: col-underLine 6s linear;
    transform: scaleX(1);
    transform-origin: top right;
    opacity: 1;
  }




/* The audio controlers */


body > .sec > .controlers {
    font-family: "Font Awesome\ 5 Free";
    bottom: 3%;
    right: 3%;
    display: flex;
}
body > .sec > .controlers > div{
    margin: 0 20px;
}
body > .sec > .controlers > div::after{
    padding: 14px;
    background: #e0e0e0;
    border-radius: 5px;
    text-align: center;
    font-size: 1.7rem;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 3px 2px 9px 0px black, inset 2px 2px 20px 0px white;
    transition: all .25s ease-out;
    font-size: 3rem;
}

body > .sec > .controlers > div:hover::after{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

/* the next lines contains durations for the after element */
body > .sec .col.a::after{
    animation-duration: 5s !important;
}
body > .sec .col.b::after{
    animation-duration: 4s !important;
}   
body > .sec .col.c::after{
    animation-duration: 3s !important;
}body > .sec .col.d::after{
    animation-duration: 2s !important;
}body > .sec .col.e::after{
    animation-duration: 2s !important;
}body > .sec .col.f::after{
    animation-duration: 2s !important;
}body > .sec .col.g::after{
    animation-duration: 5s !important;
}body > .sec .col.h::after{
    animation-duration: 4s !important;
}







/* col under line animation  */
@keyframes col-underLine {
  0%{
    transform: scaleX(0);
    transform-origin: top right;
    opacity: 0;
  }
}



/* some resobonsive */
@media all and (max-width:450px) {
    body > .sec > .lyrics > .row > .col > .word {
        font-size: 1.5rem;
    }
}
@media all and (max-width: 700px  ) {
    body > .sec > .lyrics > .row > .col > .word {
        font-size: 2rem;
    }
    body > .sec > .controlers > div::after{
        font-size: 2rem;
    }

}
@media all and (max-width: 900px  ) {
    body > .sec > .lyrics > .row > .col > .word {
        font-size:1.8rem;
    }
    body > .sec > .controlers > div::after{
        font-size: 3rem;
    }
}






























/* footer -starts */
.container.footer {
  padding: 10px;
  text-align: left;
  font-size: 1.4rem;
  border: 0px;
  color: white;
  font-family: 'Tajawal', sans-serif;
}
.container.footer > span::before{
  content: "|";
  margin:  0 10px;
  color:#75f573;
  font-size: 150%;
  font-weight: 900;
}
.container.footer > span > span{
  color: red;
}
.container.footer > span > a{
  font-weight:900 ;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ma-appearance: none;
  text-decoration: underline;
  text-decoration-color: #222;
  color: white;
  
}
.container.footer > .social-media i{
  font-style: normal;
  font-size: 1.8rem;
  color: #1d1d1d;
}
.container.footer > .social-media{
  display: flex;
  flex-direction: column;
  font-style: normal;
}
.container.footer > .social-media  a{
  font-weight: 600;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ma-appearance: none;
  text-decoration: none; 
  color: #141414;  
  display: flex;
  align-items: center;
}

/* twitter navigator */
.container.footer > .social-media > .twitter{ margin-top: 5px;}
.container.footer > .social-media > .twitter::before{
  content: "|";
  margin-left: 30px;
  margin-right: 10px;
  color: #1d9bf0;
  font-size: 2rem;
  font-weight: 900;
}
.container.footer > .social-media > .twitter:hover i{color: #1d9bf0;}

/* github navigator */
.container.footer > .social-media > .github{ margin-top: 5px;}
.container.footer > .social-media > .github::before{
  content: "|";
  margin-left: 30px;
  margin-right: 10px;
  color: #0d1117;
  font-size: 2rem;
  font-weight: 900;
}
.container.footer > .social-media > .github:hover i{color: #0d1117;}

/* youtube navigator */
.container.footer > .social-media > .youtube{ margin-top: 5px;}
.container.footer > .social-media > .youtube::before{
  content: "|";
  margin-left: 30px;
  margin-right: 10px;
  color: #ff0000;
  font-size: 2rem;
  font-weight: 900;
}
.container.footer > .social-media > .youtube:hover i{color: #ff0000;}

/* instagram navigator */
.container.footer > .social-media > .instagram{ margin-top: 5px;}
.container.footer > .social-media > .instagram::before{
  content: "|";
  margin-left: 30px;
  margin-right: 10px;
  color: #f09433;
  font-size: 2rem;
  font-weight: 900;
}
.container.footer > .social-media > .instagram:hover i{color: #ff0000;
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}

.container.footer > .copyright{
  font-family: 'Reem Kufi';
  color: #6c6c6c;
  font-size: 1rem;
}



/* footer -ends */






































/* class styles */
.min-h-and-w-full{
    min-height: 100%;
    min-width: 100%;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-9-17 16:43:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bck
 * ----------------------------------------
 */
 .fade-in-bck {
	-webkit-animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
 }
 @-webkit-keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bck {
    0% {
      -webkit-transform: translateZ(80px);
              transform: translateZ(80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  